[user]
	email = _________
	name = _________

[core]
	editor = vim

[color]
	ui = true

[alias]
	# Add
	a = add
	
	# Checkout
	co = checkout
	com = checkout master
	cod = checkout dev
	cob = checkout -b

	# Merge
	m = merge
	ms = merge --squash
	ma = merge --abort
	mnn = merge --no-ff --no-commit
	
	# Commit
	c = commit
	ac = commit -a
	ca = commit --amend
	cm = commit -m
	acm = commit -am
	aca = commit --amend
	cam = commit --amend -m
	aca = commit --amend -a
	acam = commit --amend -am
	
	# Diff
	d = diff
	dc = diff --cached
	df = diff --name-only
	dcf = diff --cached --name-only
	
	# push
	p = !git push origin $(git rev-parse --abbrev-ref HEAD):$(git rev-parse --abbrev-ref HEAD)
	pf = !git push origin -f $(git rev-parse --abbrev-ref HEAD):$(git rev-parse --abbrev-ref HEAD)
	pa = push --all
	pl = !git pull origin $(git rev-parse --abbrev-ref HEAD):$(git rev-parse --abbrev-ref HEAD)
	plf = !git pull origin -f $(git rev-parse --abbrev-ref HEAD):$(git rev-parse --abbrev-ref HEAD)
	
	# fetch
	f = !git fetch origin $(git rev-parse --abbrev-ref HEAD):$(git rev-parse --abbrev-ref HEAD)
	fa = fetch --all
	
	# Status
	s = status
	
	# Cherry pick
	cp = cherry-pick
	cpn = cherry-pick --no-commit
	
	# Branch
	b = branch
	bd = branch -v --sort=-committerdate
	bdd = branch -v --sort=committerdate
	br = branch -m
	bdel = branch -d
	bdelf = branch -D
	bdelrem = !git push origin --delete 

	# Reset
	r = reset
	rs = reset --soft
	rh = reset --hard

	# Clean
	cl = clean -f
	cld = clean -fd
	
	# Stash
	stp = stash push
	sta = stash apply
	stpop = stash pop
	sts = stash show -p
	stsf = stash show
	stl = stash list
	std = stash drop

	# Reflog
	rf = reflog

	# log
	l = log
	la = log --all
	lf = log -p
	laf = log --all -p
	lp = log --graph --oneline --decorate --all
	l1 = log -1
	l2 = log -2